.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.marker {
  // width:0;
  // height:0;
  position: relative;

  .marker-form-container {
    position: absolute;
    top: 10px;
    width: 600px;
    transform: translateX(-50%);
    padding: 10px;
    background-color: white;
    z-index: 99;
  }
}

.marker .marker-pin-point {
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 30px;
  height: 30px;
  color:#fff;
  background: #4D2D73;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
  transform-origin:0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg)
}

.resycle-type-field {
  display: flex;

  label {
    margin: 0 7px;
    display: flex;
    flex-direction: column;

    input[type='radio'] {
      appearance: none !important;
      height: 0px !important;

      + .marker {
        text-align: center;

        .marker-pin-point {
          margin: 0 auto 13px;
          transform-origin: center;
          transition: transform .2s;
        }

        .marker-pin--label {
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            height: 2px;
            width: 0px;
            background-color: #000;
            transition: width .2s;
          }
        }
      }

      &:checked + .marker {
        .marker-pin-point {
          transform: rotateZ(
            -135deg) scale(1.3);
        }

        .marker-pin--label {
          &:after {
            content: '';
            width: 100%;
          }
        }
      }
    }

  }

}
