body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-geocoder {
  flex: 1;

  input {
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 25px;

    &:focus {
      border: 2px solid #1890ff;
      outline: #1890ff !important;
      outline-width: 2px !important;
    }
  }
}
// Vendors
@import '~antd/dist/antd.css';
@import '~mapbox-gl/dist/mapbox-gl.css';

// Components
@import './components/app.scss';
@import './components/map.scss';
@import './components/map-controls.scss';
@import './components/marker-type-form.scss';
@import './components/footer.scss';
@import './components/navbar.scss';

// Routes
@import './routes/home.scss';

//Elements
@import './elements/checkbox-icon.scss';
